<div class="main">
    <h1>Interconnected Virtual Tours - Art Museums</h1>
    <!-- <p>Click on a Museum Card to start the guided Tour. <br>(Shown are only museums that have more than 1 Million annual visitors)</p> -->
    <div>
        <mat-form-field class="search-input" appearance="fill">
            <mat-label>Search...</mat-label>
            <input type="text" [ngModel]="searchTerm" (ngModelChange)="updateSearch($event)" matInput placeholder="e.g. Louvre">
        </mat-form-field>
    </div>
    <div class="museums-container">
        
        <mat-card 
            class="museum-card" 
            appearance="raised" 
            *ngFor="let m of filteredMuseums" 
            [routerLink]="'/museums/' + m.museum.value.substring(28)"
        >
            
            <img width="300" mat-card-image src="{{m.thumbnail.value}}" alt=" Photo of {{m.name.value}}">
            
            <mat-card-header>
                <mat-card-title>{{m.name.value}}</mat-card-title>
            </mat-card-header>
            <!-- <mat-card-content>
                <p>
                  {{m.abstract.value}}
                </p>
            </mat-card-content> -->
        </mat-card>
    </div>
</div>