h1 {
    margin: 0 0 50px 0;
    font-size: 30px;
}

.main {
    padding: 30px;
}

p {
    text-align: center;
    color: gray;
}

mat-card {
    margin: 0 30px 30px 0;
    cursor: pointer;
    width: 250px;
}

mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    height: 200px;
}

mat-card-content {
    height: 150px;
    overflow-y: scroll;
}

mat-card:hover {
    background-color: lightgray;
}

.museums-container {
    display: inline-flex;
    flex-flow: row wrap;
}

::ng-deep .mat-card-header-text {
    margin-left: 0 !important;
}