.main {
    padding: 10px 30px;
}

h1 {
    margin: 30px 0;
    font-size: 30px;
    display: inline-block
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    img {
        margin: 30px 0 auto 30px;
        height: 100%
    }
}

hr {
    margin: 20px 0;
    color: rgb(231, 231, 231);
}

.filter-bar {
    display: flex;

    .year-filter {
        width: 100%;
    }
}

mat-card {
    width: 160px;
    margin: 0 40px 40px 0;
    cursor: pointer;
}

mat-card img{
    object-fit: contain; /*this makes the image in src fit to the size specified below*/
    height: 200px;
}

mat-card-content {
    // max-height: 100px;
}

mat-card:hover {
    background-color: lightgray;
}

.art-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: left;
}

::ng-deep .mat-card-header-text {
    margin-left: 0 !important;
}

mat-slider {
    width: 300px;
}

.result-message {
    color: gray;
    margin-top: 15px;
    font-style: italic;
    font-size: 16px;
}