.main {
    padding: 10px;
}

h1 {
    margin: 30px 0;
    font-size: 30px;
    display: inline-block
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    img {
        margin: 30px 0 auto 30px;
        height: 100%
    }
}

hr {
    margin: 20px 0;
    color: rgb(231, 231, 231);
}

mat-card {
    max-width: 160px;
    margin: 20px;
    cursor: pointer;
}

mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 200px;
}

mat-card-content {
    height: 200px;
    overflow-y: scroll;
}

mat-card:hover {
    background-color: lightgray;
}

.art-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: left;
}

::ng-deep .mat-card-header-text {
    margin-left: 0 !important;
}