<div *ngIf="museum" class="main">
    <div class="header">
        <div>
            <h1>Welcome to the virtual {{museum.name.value}}!</h1>
            <p>{{museum.abstract.value}}</p>
        </div>    
        <img src="{{museum.thumbnail.value}}">
    </div>
    <div>
        <h2>Click on an art piece that you want to look at</h2>
        <div class="filter-bar">
            <!-- <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <mat-select>
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field> -->
            <div class="year-filter">
                <h3>Filter by year</h3>
                <ngx-slider [(value)]="startYear" [(highValue)]="endYear" [options]="options"></ngx-slider>
            </div>
            
        </div>
        <div style="display:flex;justify-content:space-between; margin-top: 20px;">
            <div>
                <button mat-raised-button color="primary" (click)="applyFilters()" style="margin-right: 10px;">Apply Filters</button>
                <button mat-raised-button color="secondary" (click)="removeFilters()">Remove Filters</button>
            </div>
            
            <p class="result-message">Found {{artPieces.length}} art pieces</p>
        </div>
        <div class="art-container">
            <mat-card 
                class="art-card" 
                appearance="raised"
                *ngFor="let art of artPieces" 
                [routerLink]="'/museums/' + museumId + '/art/' + art.art.value.substring(28)"
            >
            
            
            <mat-card-header>
                <mat-card-title>{{art.rdfsLabel.value}}</mat-card-title>
            </mat-card-header>
            <img width="300" mat-card-image src="{{art.dboThumbnail.value}}" alt=" Photo of {{art.rdfsLabel.value}}">
            <mat-card-content>
                <p><b>Year:</b> {{art.dbpYear.value}}</p>
            </mat-card-content>
                
                
            </mat-card>
        </div>
    </div>
</div>
